header {
    background-color: #008cff;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 10px;

    ul {
        list-style: none;
        display: flex;
        gap: 10px;

        li {
            a {
                color: #fff;
                text-decoration: none;

                &.active-link {
                    font-weight: bold;
                }
            }
        }
    }

    h1 {
        color: #fff;
    }
}